.success-banner {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  background-color: rgba(140, 120, 81, 0.15);
  border: 1px solid rgba(140, 120, 81, 1);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  text-align: center;

  @media (min-width: 40rem) {
    font-size: 20px;
    padding: 0.75rem;
  }

  @media (min-width: 56rem) {
    font-size: 25px;
    padding: 1rem;
  }
}
