.description-container {
  border: 1px solid #020826;
  padding: 16px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: #fffffe;
}

.data-container {
  border: 1px solid #020826;
  padding: 16px;
  margin: 10px auto;
  border-radius: 8px;
  background-color: #fffffe;
  max-width: 400px;

  p {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}

.data_item {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}

p {
  margin: 8px 0;
}

strong {
  color: #f25042;
}

.tag {
  font-family: "Roboto", sans-serif;
  background-color: #7e6d49;
  font-size: 0.9rem;
  color: #ffffff;
  border-radius: 1.25rem;
  text-align: center;
  margin: 0.5rem auto;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(242, 80, 66, 0.7);
  width: auto;
}

.btn:hover {
  background-color: #f25042;
}
