.recipes-page {
  .loading,
  .error {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
    color: #8c7851;
  }

  .container {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 1rem;
  }
  h1 {
    color: #716040;
  }
  .cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  button {
    padding: 0.5rem 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(242, 80, 66, 0.7);
    width: auto;
    margin-bottom: 15px;
  }
}
